{% extends 'base.html' %}

{% load static %}

{% block title %} Elen Photography {% endblock %}

{% block content %}

<section class="ftco-section-2">
	<div class="photograhy">
		<div class="row no-gutters">
			{% for blog in photography_blogs %}
			<div class="col-md-3">
				<a href="#" class="photography-entry img d-flex justify-content-center align-items-center"
					style="background-image: url({{ blog.image.url }});">
					<div class="overlay"></div>
					<div class="text text-center">
						<h3>{{ blog.name }}</h3>
						<span>{{ blog.category }}</span>
					</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}