{% extends 'base.html' %}

{% load static %}

{% block title %} Elen Travel {% endblock %}

{% block content %}

<section class="home-slider js-fullheight owl-carousel">
	<div class="slider-item js-fullheight" style="background-image:url({% static '' %}images/bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container-fluid">
			<div class="row no-gutters slider-text slider-text-2 js-fullheight align-items-center justify-content-center"
				data-scrollax-parent="true">
				<div class="col-md-10 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
					<h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
						Discover the Place</h1>
					<p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Find great places to
						stay, eat, shop, or visit from local experts</p>
				</div>
			</div>
		</div>
	</div>

	<div class="slider-item js-fullheight" style="background-image:url({% static '' %}images/bg_3.jpg);">
		<div class="overlay"></div>
		<div class="container-fluid">
			<div class="row no-gutters slider-text slider-text-2 js-fullheight align-items-center justify-content-center"
				data-scrollax-parent="true">
				<div class="col-md-10 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
					<h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Explore
						and travel</h1>
					<p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Find great places to
						stay, eat, shop, or visit from local experts</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="ftco-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					{% for blog in travel_blogs %}
					<div class="col-md-12">
						<div class="blog-entry ftco-animate">
							<a href="#" class="img" style="background-image: url({{ blog.image.url }});"></a>
							<div class="text pt-2 mt-3">
								<span class="category mb-1 d-block"><a href="#">{{ blog.category.name }}</a></span>
								<h3 class="mb-4"><a href="#">{{ blog.name }}</a>
								</h3>
								<p class="mb-4">{{ blog.description }}</p>
								<div class="author mb-4 d-flex align-items-center">
									<a href="#" class="img" style="background-image: url({{ blog.author.image.url }});"></a>
									<div class="ml-3 info">
										<span>Written by</span>
										<h3><a href="#">{{ blog.author.get_full_name }}</a>, <span>{{ blog.created_at|date }}</span></h3>
									</div>
								</div>
								<div class="meta-wrap d-md-flex align-items-center">
									<div class="half order-md-last text-md-right">
										<p class="meta">
											<span><i class="icon-heart"></i>{{ blog.likes }}</span>
											<span><i class="icon-eye"></i>{{ blog.views }}</span>
											<span><i class="icon-comment"></i>5</span>
										</p>
									</div>
									<div class="half">
										<p><a href="#" class="btn btn-primary p-3 px-xl-4 py-xl-3">Continue
												Reading</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

				{% include 'paginator.html' %}

			</div>

			{% include 'rside.html' %}

		</div>
	</div>
</section>

{% endblock %}